<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ACA Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="jumbotron-heading">Raw Data for Visualizations</h1>
            <p class="lead text-muted">Red Team- Dan Smart, Derek Shashek, Minette James, and Suzanne Polk</p>
            <p>
                <a href="/" class="btn btn-primary btn-lg">Visualization Page</a>
                <a href="/conclusions" class="btn btn-primary btn-lg">Conclusions</a>
            </p>
        </div>
    </div>

    <div class=downloads>
        <div class='container'>
            <div class='row'>
                <h3>Cleaned CSVs</h3>
            </div>
            <div class='row'><a href="/static/CSVs/Health_Ins_2015.csv">Download 2015 Data</a></div>
            <div class='row'><a href="/static/CSVs/Health_Ins_2016.csv">Download 2016 Data</a></div>
            <div class='row'><a href="/static/CSVs/Health_Ins_2017.csv">Download 2017 Data</a></div>
            <div class='row'><a href="/static/CSVs/Health_Ins_2018.csv">Download 2018 Data</a></div>
            <div class='row'>Source: <a
                    href="https://www.healthcare.gov/health-and-dental-plan-datasets-for-researchers-and-issuers/">https://www.healthcare.gov/health-and-dental-plan-datasets-for-researchers-and-issuers</a>
            </div>
            <div class='row'> </div>
            <div class='row'>
                <h3>Available JSONs:</h3>
            </div>
            <div class='row'><a href='/state_count15'>/state_count15</a></div>
            <div class='row'><a href='/fips_count15'>/fips_count15</a></div>
            <div class='row'><a href='/state_metal15'>/state_metal15</a></div>
            <div class='row'><a href='/fips_metal15'>/fips_metal15</a></div>
            <div class='row'><a href='/state_issuer15'>/state_issuer15</a></div>
            <div class='row'><a href='/fips_issuer15'>/fips_issuer15</a></div>
            <div class='row'><a href='/state_type15'>/state_type15</a></div>
            <div class='row'><a href='/fips_type15'>/fips_type15</a></div>
            <!--end of year-->
            <div class='row'><a href='/state_count16'>/state_count16</a></div>
            <div class='row'><a href='/fips_count16'>/fips_count16</a></div>
            <div class='row'><a href='/state_metal16'>/state_metal16</a></div>
            <div class='row'><a href='/fips_metal16'>/fips_metal16</a></div>
            <div class='row'><a href='/state_issuer16'>/state_issuer16</a></div>
            <div class='row'><a href='/fips_issuer16'>/fips_issuer16</a></div>
            <div class='row'><a href='/state_type16'>/state_type16</a></div>
            <div class='row'><a href='/fips_type16'>/fips_type16</a></div>
            <!--end of year-->
            <div class='row'><a href='/state_count17'>/state_count17</a></div>
            <div class='row'><a href='/fips_count17'>/fips_count17</a></div>
            <div class='row'><a href='/state_metal17'>/state_metal17</a></div>
            <div class='row'><a href='/fips_metal17'>/fips_metal17</a></div>
            <div class='row'><a href='/state_issuer17'>/state_issuer17</a></div>
            <div class='row'><a href='/fips_issuer17'>/fips_issuer17</a></div>
            <div class='row'><a href='/state_type17'>/state_type17</a></div>
            <div class='row'><a href='/fips_type17'>/fips_type17</a></div>
            <!--end of year-->
            <div class='row'><a href='/state_count18'>/state_count18</a></div>
            <div class='row'><a href='/fips_count18'>/fips_count18</a></div>
            <div class='row'><a href='/state_metal18'>/state_metal18</a></div>
            <div class='row'><a href='/fips_metal18'>/fips_metal18</a></div>
            <div class='row'><a href='/state_issuer18'>/state_issuer18</a></div>
            <div class='row'><a href='/fips_issuer18'>/fips_issuer18</a></div>
            <div class='row'><a href='/state_type18'>/state_type18</a></div>
            <div class='row'><a href='/fips_type18'>/fips_type18</a></div>
            <!--end of year-->
            </container>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

</body>

</html>